@font-face {
    font-family: 'ADayWithoutSun';
    src: url('/assets/A_DAY_WITHOUT_SUN.otf');
}
h2 {
    font-family: 'ADayWithoutSun', serif;
    font-size: 90px;
}
h1 {
    font-family: 'ADayWithoutSun', serif;
    font-size: 18vh;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}
@media screen and (min-width: 768px) {
    .main-content-container {
        height: 100%;
        margin: 20px 20vh 0 20vh;
    }
}
@media screen and (max-width: 768px) {
    .main-content-container {
        height: 100%;
        margin: 20px 0 0 0;
    }
}
.btn-primary-outline {
    background-color: transparent;
}
.btn-primary-outline:hover {
    background-color: #f8f9fa;
}
.date {
    margin-left: 20px;
    font-size: 20px;
}
.image {
    float: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 1px solid #ebebeb;
    cursor: pointer;
    margin-bottom: 10px;
}
p {
    font-size: 14px;
}
.title_img {
    width: 200px;
    vertical-align: bottom;
}
.vertical-center {
  position: absolute;
  top: 50%;
}
