h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(30, 78, 121);
    font-size: 20pt;
}
h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(30, 78, 121);
    font-size: 12pt;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(30, 78, 121);
    font-size: 20pt;
}
h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
}

.btn-primary-outline {
    background-color: transparent;
}
.btn-primary-outline:hover {
    background-color: #f8f9fa;
}
.date {
    margin-left: 20px;
    font-size: 20px;
}
.gallery-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    transition: opacity .2s;
}
.gallery-image:hover {
    transition-timing-function: ease-in;
    -webkit-transition-timing-function: ease-in;
    opacity: .3;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-indent: 0pt;
}
.title_img {
    width: 200px;
    vertical-align: bottom;
}
.vertical-center {
  position: absolute;
  top: 50%;
}

.container {
    height: 88vh;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
.route-name {
    margin-top: 135px;
    margin-bottom: 152px;
}
.main-content-image {
    margin-top: 65px;
    object-fit: scale-down;
    width: 125px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-image {
    display: block;
    margin: 0 auto;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s ease;
}

.fade-enter,
.fade-leave-to {
    opacity: .0;
}

.skills {
    color: rgb(127, 127, 127);
}

.video {
    width: 100%;
    height: auto;
}

a {
    color: rgb(30, 78, 121);
}

a:hover, .name:hover {
    text-decoration: none;
    opacity: .5;
}

.video-container {
    position:relative; 
    padding-bottom: 56%;
    margin-bottom: 20px;
}
.video-container iframe {
    position:absolute;
    width:100%; 
    height:100%;
}

.copy {
    position: fixed;
    bottom: 0;
    left: 20vw;
    font-size: 8pt;
}

